{%load static%}

 <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">{{section.content.copyright}}</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        {%for social in section.content.socials%}
                        <a class="btn btn-dark btn-social mx-2" href="{{social.href}}"><i class="{{social.i_class}}"></i></a>
                        {%endfor%}
       
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="{{section.content.policy.href}}">{{section.content.policy.text}}</a>
                        <a href="{{section.content.terms.href}}">{{section.content.terms.text}}</a>
                    </div>
                </div>
            </div>
        </footer>