{%load static%}

<!-- Portfolio Modals-->
      
        {%for modal in section.content.modals%}
        <div class="portfolio-modal modal fade" id="{{modal.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="{%static modal.close_icon%}" alt="{{modal.close_icon_alt}}" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">{{modal.heading}}</h2>
                                    <p class="item-intro text-muted">{{modal.sub_heading}}</p>
                                    <img class="img-fluid d-block mx-auto" src="{%static modal.img_src%} " alt="{{modal.img_alt}}" />
                                    <p>{{modal.description}}</p>
                                    <ul class="list-inline">
                                        {%for item in modal.list%}
                                        <li>{{item}}</li>
                                        {%endfor%}
                                    </ul>
                                    <button class="{{modal.btn_class}}" data-dismiss="modal" type="button">
                                        <i class="{{modal.btn_i_class}}"></i>
                                        {{modal.btn_text}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    