{%load static%}

<!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">{{section.content.heading}}</h2>
                    <h3 class="section-subheading text-muted">{{section.content.sub_heading}}</h3>
                </div>
                <div class="row">
                {%for item in section.content.members%}
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{%static item.img_src%}" alt="{{item.img_alt}}" />
                            <h4>{{item.name}}</h4>
                            <p class="text-muted">{{item.position}}</p>
                            {%for social in item.socials %}
                            <a class="btn btn-dark btn-social mx-2" href="{{social.href}}"><i class="{{social.i_class}}"></i></a>
                            {%endfor%}
                   
                        </div>
                    </div>
                    {%endfor%}
               
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">{{section.bottom_caption}}</p></div>
                </div>
            </div>
        </section>